<script src="/js/sign-in.js"></script>

<%- contentFor('css') %>

<%- contentFor('body') %>
<h1>로그인</h1>
<a href="/auth/kakao"><button>카카오 로그인</button></a>
<a href="/auth/naver"><button>네이버 로그인</button></a>